@import 'https://fonts.googleapis.com/css?family=Londrina+Outline';
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@import 'https://fonts.googleapis.com/css?family=Merienda+One';
@import 'https://fonts.googleapis.com/css?family=Forum|Raleway';
@import 'https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Russo+One';

html {
  background-image: url("http://i49.photobucket.com/albums/f254/Bulerias81/abdonahat-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /*background-image: url("http://i49.photobucket.com/albums/f254/Bulerias81/abdonahat-1.jpg");*/
  background-repeat: no-repeat;
  height: 117vh;
  background-size: cover;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  background-color: transparent;
}

header {
  float: left;
  width: 100%;
  /*background-color: black;*/
  text-align: center;
}

h1 {
  font-family: 'Merienda One', cursive;
  text-align: left;
  font-size: 40px;
  margin-top: 1px;
  text-shadow: 1px 1px green;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-top: -24px;
  text-shadow: 1px 1px green;
}

#board {
/*    width: 80%;
    padding-left:350px;
    /*margin-bottom: 120px;*/
}

.row {
   width: 50%;
   display: inline-block;
   padding-left: 320px;

}


#message {
  margin-top: -100px;
  font-size: 27px;
  /* display: inline-block; */
  margin-left: 489px;
  background-color: #aad062;
  border: 1px solid #aad062;
  border-radius: 3px;
  float: left;
  padding: 5px;
}

#play, #restart, .replay {
  display: block;
  border: 1px solid #aea599;
  border-radius: 10px;
  background-color: #aad062;
  padding: 15px;
  margin-left: 333px;
  margin-bottom: 24px;
  display: inline;
  color: white;
  font-size: 20px;
  padding: 17px;
  width: 10%;
}


#playScale {
  padding: 20px;
  background-color: #aa3520;
  border: 1px solid black;
  border-radius: 14px;
  width: 27%;
}

strong {
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding-right: 9px;

}

em {
  visibility: hidden;
}

#corscore {
    width: 85px;
    height: 85px;
    border: 1px solid black;
    color: white;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    background-color: #21101b;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: Verdana;
    float:right;
    margin-top: -85px;
    margin-left: 5px;
}

#attempts {
    width: 85px;
    height: 85px;
    border: 1px solid black;
    color: white;
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    background-color: #21101b;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: Verdana;
    float: right;
    margin-top: -85px;
}

#percent {
    font-size: 58px;
    margin-right: 533px;
    width: 10%;
    float: right;
    font-family: 'Droid Sans Mono', monospace;
    margin-top: -77px;
    text-shadow: 1px 1px #aad062;
}

.box {
    width: 110px;
    height: 21px;
    border: 1px solid #aea599;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    padding-top: 23px;
    background-color: #21101b;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 7px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

audio {
  display:none;
}

.box:hover {
    background-color: transparent;
    color: lightblue;
    font-weight: black;
    text-shadow: 2px 2px #880e0e;
    font-size: 19px
}
#play:hover {
  background-color: transparent;
  color: lightblue;
}

#restart:hover {
  background-color: transparent;
  color: lightblue;
}

.replay: {
  background-color: red;
  color: white;
  font-weight: bolder;
}

.selected {
  background-color: #880e0e;
}
@media only screen and (max-width: 1254px) {
  .row {
    margin-left: -40px;
    width: 100%;
  }
   #play, #restart {
   margin-left: 311px;
 }
 #message {
  margin-left: 442px;
 }
}
@media only screen and (max-width: 1100px) {
 .row {
   padding-left: 266px;
  }
 #play, #restart {
   margin-left: 283px;
 }
  #message {
  margin-left: 387px;
 }
 #percent {
  width: 1%;
 }
}

@media only screen and (max-width: 1000px) {
 .row {
  padding-left: 185px;
  width: 97%;
 }
 #play, #restart {
  margin-left: 170px;
  padding: 23px;
  width: 180px;
  background-color: #aad062;
 }
 .box {
  padding: 25px;
}

}

@media only screen and (max-width: 950px) {
 .row {
  padding-left: 110px;
 }
 #play, #restart {
   margin-left: 143px;
   margin-top: 33px;
 }
 #message {
  margin-left: 0px;
  margin-top: -6px;
  font-size: 15px;
 }
 #percent {
  font-size: 58px;
  margin-right: 310px;
  width: 10%;
  float: right;
  font-family: 'Droid Sans Mono', monospace;
  margin-top: -80px;
  text-shadow: 1px 1px #aad062;
 }
}

@media only screen and (max-width: 800px) {
 .row {
    width: 100%;
    margin-left: -78px;
  }
 #play, #restart {
    margin-left: 71px;
  }
 #corscore {
    margin-left: 297px;
  }
 #attempts {
    margin: auto;
    margin-right: -290px;
    margin-top: -85px;
  }
.box {
    padding-top: 22px;
  }
}

@media only screen and (max-width: 745px) {
 .row {
    width: 100%;
   }
 #play, #restart {
    margin-left: 124px;
  }
 .box {
  padding: 40px;
 }
}
@media only screen and (max-width: 560px) {
 .row {
    width: 100%;
  }
}

